<form id="loginForm">
    <h2>Inicio de Sesion</h2>

    <label for="CodigoLogin">Codigo</label> 
    <input type="text" id="usernameLogin" required>

    <label for="passwordLogin">Password</label>
    <input type="password" id="passwordLoginInput" required>

    <div class="remember">
        <p><a routerLink="/">Registrate</a></p> 
        <p><a href="#">Olvide mi clave</a></p> 
    </div>

    <input type="submit" class="btn-1" value="Iniciar">

    <p id="mensajeLogin" style="color: red;"></p>
</form>
