        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        label, p {
            font-size: 17px;
            color: #575757;
        }
        .container {
            background: #f0f0f1;
            padding: 50px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            border-radius: 30px;
            margin-bottom: 30px;
        }
        input[type="text"], input[type="password"], input[type="email"] {
            padding: 10px;
            margin: 20px auto;
            width: 100%;
            max-width: 300px;
            border: 1px solid #ca0000;
            border-radius: 25px;
            display: block;
            box-sizing: border-box;
        }
        button {
            padding: 10px 20px;
            background-color: #ca0000;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            border-radius: 25px;
        }
        button:hover {
            background-color:  #560101;
        }
        p#mensaje {
            color: red;
            margin-top: 10px;
        }
        .registro-wrapper {
            background-image: 
            url('../../assets/images/colorazul.png');
            background-color: #000; 
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f5a333;
        }
        
        