<div class="registro-wrapper">
  <div class="container">
    <h2 style="color: rgb(0, 0, 0);">Crea tu cuenta:</h2>
    <input type="text" placeholder="Nombre completo" [(ngModel)]="nombreUsuario" required>
    <input type="email" placeholder="Correo electrónico" [(ngModel)]="emailRegistro" required>
    <input type="password" placeholder="Contraseña" [(ngModel)]="passwordRegistro" required>

    <button (click)="registrar()">Registrarse</button>
    <p id="mensaje">{{ mensaje }}</p>
    <p>¿Ya tienes una cuenta?
      <a [routerLink]="'/crear-cuenta'" style="color: red;">Inicia sesión</a>
    </p>
  </div>
</div>
